html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}

#trivia-section{
    height: 100%;
    text-align: center;
    font-size: 138%;
    background-image: url(../img/triviaBackground.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    padding: 18% 5%;
}

#question{
    color: white;
    font-family: QuestionFont;
}

#div_question{
    /* position: relative;
    top: 10%;
    left: 10%; */
    font-size: 132%;
    width: 100%;
}

#btnBack_trivia{
    position: absolute;
    top: 2%;
    left: 3%;
    width: 5%;
}

#block{
    position: relative;
}

#block_div{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#charge_points{
    position: fixed;
    top: 63%;
    left: 29%;
    width: 40%;
}

#charge{
    position: relative;
}

#win{
    position: relative;
}

#chargeIcon{
    top: 20%;
    position: fixed;
    width: 48%;
    left: 26%;
}

#charge_title{
    padding-top: 53%;
    padding-left: 37%;
}

#charge_div{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #1B8174;
    align-items: center;
}

#div_win{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url(../img/levelComplete.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    align-items: center;
}

#answers_div{
    /* position: relative;
    top: 22%;
    left: 10%; */
    font-family: QuestionFont;
    width: 80%;
    position: absolute;
    bottom: 15%;
    left: 10%;
}

#star_div{
    bottom: 4%;
    position: absolute;
    width: 90%;
}

#congratulations_next_level{
    font-family: CongratulationTitle;
    color: white;
    font-size: 278%;
}

#span_next_level{
    font-family: QuestionFont;
    color: white;
    font-size: 205%;
}

#text_win{
    position: absolute;
    top: 57%;
    width: 55%;
    left: 22.5%;
    text-align: center;
}

.invisible{
    display: none !important;
}

.star{
    width: 10%;
}

.points{
    margin-left: 10%;
}

.answer{
    width: 75%;
    background-image: url(../img/answer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 8%;
    padding: 5% 0%;
    color: gray;
    font-size: 140%;
    width: 100%;
}

.animation {
    -webkit-animation: animate .6s linear; 
}

.wrongAnswer{
    background-image: url(../img/wrongAnswer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #F8A09E;
    /* padding: 4% 0%; */
    /* margin-left: 9.5%; */
    width: 100%;
    /* margin-top: 12%; */
}

.correctAnswer{
    background-image: url(../img/correctAnswer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    /* padding: 4% 0%; */
    width: 100%;
    /* margin-left: 9.5%; */
    /* margin-top: 12%; */
}

.answer_div{
    top: 29% !important;
}

@font-face{
    font-family: QuestionFont;
    src: url(ATMASERIFTFBOOKITALIC.TTF);

}

@font-face{
    font-family: CongratulationTitle;
    src: url(ATMASERIFLFBOLDITALIC_.TTF);
}

@-webkit-keyframes animate {
    0% {
        -webkit-transform: translate(0px, 0px);
    }
    10% {
        -webkit-transform: translate(5px, 0px);
    }
    20% {
        -webkit-transform: translate(0px, 0px);
    }
    30% {
        -webkit-transform: translate(5px, 0px);
    }
    40% {   
        -webkit-transform: translate(0px, 0px);
    }
    50% {
        -webkit-transform: translate(5px, 0px);
    }
    60% {
        -webkit-transform: translate(0px, 0px);
    }
    70% {
        -webkit-transform: translate(5px, 0px);
    }
    80% {   
        -webkit-transform: translate(0px, 0px);
    }
    90%{
        -webkit-transform: translate(5px, 0px);
    }
    100%{
        -webkit-transform: translate(0px, 0px);
    }
}

/* -------------- Plants Section -------------- */

#plant-image{
   width: 320px;
   height: 320px;
   margin-top: 5%;
   
}

#plants-section{
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    
}

#plant-description{
    position: absolute;
    width: 100%;
    height: 40%;
    background:rgb(58, 68, 82);
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
    /* margin-top: 5%; */
    bottom: 0px;
    
}

#plant-description-p{
    margin: 7%;
    text-align: center;
    color: ivory;
    text-justify: distribute-all-lines;
    font-size: 125%;
}

#plant-name{
    margin-top: 0;
}

#websitehref{
    
    font-size: 100%;
    margin-top: 0;
    color: rgb(201, 201, 133);
}

.buttontextdiv {
    position: relative;
  }
  
  /* Bottom right text */
  .buttontext {
    position: absolute;
    bottom:0px;
    right: 0px;
    top: auto;
    left: 0px;
    font-size: 110%;
    /* padding-left: 20px;
    padding-right: 20px; */
  }

  .answer{
    width: 75%;
    background-image: url(../img/Grupo\ 10.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 8%;
    padding: 5% 0%;
    color: gray;
    font-size: 140%;
    width: 100%;
}


/* -----------main menu and credits------------*/

.text{
    font-family: "Book";
    font-style: italic;
    color: whitesmoke;
    font-size: 140%;
}

.textTitle{
    
    font-weight: bold;   
    color: whitesmoke;
    font-size: 100%;
}

h1,.button-menu,.container_main_section{
    text-align: center;
}

h1,.button-menu,.container{
    text-align: center;
}

.button-menu{
    width:50%;
    height: 40%;
    margin-bottom:20px;
    border-radius: 50px;
    color: whitesmoke;
    background:#298E7D;
    
}

#divButtons{
    position: absolute;
    top: 60%;
    height: 20%;    
    width: 90%;
    left: 5%;
}

.container_main_section{
    position: absolute;
    top: 60%;
    height: 20%;
    width: 60%;
    left: 20%;
}

#divCredits{
    position: absolute;
    top: 25%;
    height: 60%;
    width: 70%;
    left: 15%;   
}

.sections {
    height: 100%;
    animation: transitionSection 0.8s;    
}

#main-section,#levels-section{
    background-color: whitesmoke;
}

#image{
    position: absolute;
    top: -30%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
    height: 40%;
    margin: auto;
    
}

#credits-section{
    background-color: #298E7D;
}

.stars{
    width: 10%;
}

.levelText{
    color: white;
    font-family: QuestionFont;
    font-size: 180%;
    position: absolute;
    top: 17%;
    width: 100%;
    text-align: center;
}

.levelImg{
    position: absolute;
    height: 10%;
    width: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(../img/cont_lev.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#imgLevel1{
    top: -50%;
}

#imgLevel2{
    top: 0%;
}


#imgLevel3{
    top: 50%;
}

.divLevels{
    position: absolute;
    width: 50%;
    left: 25%;
    display: flex;
    justify-content: space-between;

}

#divLevel1{
    top: 32%;
}

#divLevel2{
    top: 57%;
}

#divLevel3{
    top: 82%;
}


.textMenu{
    font-size: 125%;
    font-family: "Book Antiqua";
    font-style: italic;
    color:rgb(58, 68, 82);
}

/*transitions*/
@keyframes transitionSection{
    from{
        opacity: 0;
        transform: translateY(450px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 330px){
    #charge_points{
        left: 25%;
        width: 50%;
    }
}