body{
    margin: 0px;
}


.invisible{
    display: none !important;
}

/* -------------- Plants Section -------------- */

#plant-image{
   display: flex;
   width: 60%;
   height: auto;
   /* background: red; */
   margin-left: auto;
   margin-right: auto;
   margin-top: 10%;

}

#plants-section{
    display: inline-flex;
    width: 100%;
    height: auto;
    
}

#plant-description{
    width: 100%;
    background:green;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    margin-top: 5%;
}

#plant-description p{
    display: inline-flex;
    margin: 10%;
}