.invisible{
    display: none !important;
}

  
html,body{
    height: 100%;
    width: 100%;
    margin: 0;
  
}

/* main menu and credits*/
h1{
    position: absolute;
    top: 20%;
    width: 80%;
    left: 10%;
    font-size: 200%;
    color:#1A4341;
}
 h1,.button-menu,p{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

h1,.button-menu,#container{
    text-align: center;
}

h2,p{
    color: #1A4341;
}

p{
    font-size: 120%;
}

.button-menu{
    font-size: 150%;
    width:150px;
    height: 50px;
    margin-bottom:20px;
    border-radius: 50px;
    color: white;
    background:#1A4341;
    
}

#container{
    position: absolute;
    top: 50%;
    width: 80%;
    left: 10%;
}

#main-section{
    height: 86%;
    padding-top: 25%;    
}

